<h1> LOGIN </h1>
<form class="" action="/login" method="post">
  <label for="username">username</label>
  <input type="text" name="username" value="" minlength=4 maxlength=12 required>
  <label for="password">password</label>
  <input type="password" name="password" value="" minlength=4 maxlength=12 required>
</br>
  <input type="submit" name="name" value="LOGIN">
</form>
</br>

<h1> REGISTER </h1>
<form class="" action="/register" method="post">
  <label for="newUsername">username</label>
  <input type="text" name="newUsername" value="" minlength=4 maxlength=12 required>
  <label for="newPassword">password</label>
  <input type="password" name="newPassword" value="" minlength=4 maxlength=12 required>
</br>
  <input type="submit" name="name" value="REGISTER">
</form>
